<header class="site-header">
  <h1 class="site-title">The <span class="happy-collision"><span>Happy</span> <span>Collision</span></span> Magic Email Maker</h1>
  <nav>
    {{link-to "Home" "index"}} | {{link-to "Terms" "terms"}}
  </nav>
</header>

<div id="page" {{bind-attr class=dasherizedPath}}>
  <div class="main-app-content">
    {{outlet}}  
  </div>
</div>

<footer>
  &#169; {{theYear}} <a href="http://happycollision.com"><span class="happy-collision"><span>Happy</span> <span>Collision</span></span></a><sup>&#174;</sup> 
</footer>