{{outlet}}


<form class="params">
  <label for="header" class="text-label">Before Image:</label>
  {{input type="text" name="header" value=header}}
  <label for="header2" class="text-label">After Image:</label>
  {{input type="text" name="header2" value=header2}}
  
  <div class="button-value-group">
    <div class="button-value">
      <label for="video-text" class="text-label">Video Button Text:</label>
      {{input type="text" name="video-text" value=vButtonText}}
    </div>
    <div class="button-value">
      <label for="video-link" class="text-label">Video Button Link:</label>
      {{input type="text" name="video-link" value=vButtonLink}}
    </div>
  </div>

  <div class="button-value-group">
    <div class="button-value">
      <label for="resume-text" class="text-label">Resume Button Text:</label>
      {{input type="text" name="resume-text" value=rButtonText}}
    </div>
    <div class="button-value">
      <label for="resume-link" class="text-label">Resume Button Link:</label>
      {{input type="text" name="resume-link" value=rButtonLink}}
    </div>
  </div>

  <label class="text-label">Choose an image below</label>
  {{flickr-pickr galleryId="72157650653171405" desiredWidth="75" chosenId=chosenId}}
  
  <label class="text-label">Body: (Edit the text below using <a href="http://howtomarkdown.com">Markdown</a>.)</label>
  {{textarea value=body}}

  {{pre-header-text}}
</form>


<div id="the-email">
  <table><tr><td class="background">
  <div class="pre-header">
    {{preHeader}}
  </div>
  <div class="main-content">
    <h1>
      {{header}}
    </h1>
    {{flickr-image imageId=chosenId desiredWidth="400"}}

    <h2>{{header2}}</h2>

    <p class="center">
      {{#if vButton}}
        <a class="button" {{bind-attr href=vButtonLink}}>{{vButtonText}}</a>
      {{/if}}
      {{#if rButton}}
        <a class="button" {{bind-attr href=rButtonLink}}>{{rButtonText}}</a>
      {{/if}}
    </p>

    {{markdown-section content=body}}


    <p>
      <a href="mailto:rosecarolrose@gmail.com">rosecarolrose@gmail.com</a>
      <a href="http://carolroseactress.com"><br>carolroseactress.com</a>
    </p>

    
  </div>
  <div class="catch">
    &nbsp;
  </div>
  </td></tr></table>
</div>