<section>
<header class="section-header">
  <h1>If you're trying to catch a casting director's&nbsp;eye...</h1>
  <h2>Ask yourself: Which email catches <em>your</em> eye?</h2>
</header>

<div class="examples group">

  <div class="plain-email">
    Hello!<br>
    My name is Don Denton and I'd like to be considered for the role of Jean Valjean in your upcoming production of Les Miserables. I've played the role before under the direction of Jerry Jay Cranford.<br><br>

    Please have a look at my attached headshot/resume and visit the following link to see video of my work.<br><br>

    http://dondentonactor.com/reel/<br><br>

    Sincerely,<br>
    Don Denton<br>
    don@dondentonactor.com
  </div>

  <div class="html-email">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="margin: 0;background-color: #000000;background-image:url('assets/i/home-page/email-bg.png');background-repeat:repeat;height: 100% !important;width: 100% !important;padding:40px 10px;">
      <tr>
        <td align="center" valign="top" style="border-collapse: collapse;">
          <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border: 0px solid #FFFFFF;background-color: #FFFFFF;max-width:600px">
            <tr>
              <td align="center" valign="top" style="border-collapse: collapse;">
                <!-- // Begin Template Header \\ -->
                      <!-- // Begin Module: Standard Header Image \\ -->
                      <h1 style="font-weight:bold;font-size:45px;margin:20px auto 10px;">My name is Don Denton</h1>
                      {{flickr-image imageId="15840356297" desiredWidth="400"}}
                      <!-- // End Module: Standard Header Image \\ -->
                <!-- // End Template Header \\ -->
              </td>
            </tr>
            <tr>
              <td align="center" valign="top" style="border-collapse: collapse;">
                <!-- // Begin Template Body \\ -->
                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                  <tr>
                    <td valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #FFFFFF;">

                      <!-- // Begin Module: Standard Postcard Content \\ -->
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr mc:repeatable="repeat_1" mc:repeatindex="0" mc:hideable="hideable_repeat_1_1" mchideable="hideable_repeat_1_1">
                          <td valign="top" style="border-collapse: collapse;">
                            <table border="0" cellpadding="20" cellspacing="0" width="100%">
                              <tr>
                                <td valign="top" style="border-collapse: collapse;">
                                  <div style="color: #505050;font-family: Arial;font-size: 16px;line-height: 150%;text-align: left;">
                                    <p>I'd like to be considered for the role of <strong>Jean Valjean</strong> in your upcoming production of <em>Les Miserables</em>. I've played the role before under the direction of Jerry Jay Cranford.</p>

                                    <p class="center">
                                        <a class="button" href="http://dondentonactor.com/reel/">Watch My Reel</a>
                                        <a class="button" href="http://dondentonactor.com/resume/">View My Resum&eacute;</a>
                                    </p>

                                    
                                    <p>Thanks for your consideration!</p>
                                    
                                    <p>Sincerely,<br>
                                    <img src="assets/i/home-page/don-sig.png" alt="" border="0" style="border: px none;border-color: ;border-style: none;border-width: px;height: 60px;width: 300px;margin: 0;padding: 0;line-height: 100%;outline: none;text-decoration: none;" width="300" height="60"><br>
                                    Don Denton<br><a href="mailto:don@dondentonactor.com">don@dondentonactor.com</a></p>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <!-- // End Module: Standard Postcard Content \\ -->

                    </td>
                  </tr>
                </table>
                <!-- // End Template Body \\ -->
              </td>
            </tr>
            <tr>
              <td align="center" valign="top" style="border-collapse: collapse;">
                <!-- // Begin Template Footer \\ -->
                <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter" style="background-color: #FFFFFF;border-top: 0;">
                  <tr>
                    <td valign="top" class="footerContent" style="border-collapse: collapse;">

                      <!-- // Begin Module: Standard Footer \\ -->
                      <table border="0" cellpadding="10" cellspacing="0" width="100%" style="margin-bottom:10px">
                        <tr>
                          <td colspan="2" valign="middle" id="social" style="border-collapse: collapse;background-color: #FAFAFA;border: 0;">
                            <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: center;">
                              &nbsp;<a href="http://dondentonactor.com/resume/" target="_blank" style="font-weight: normal;text-decoration: underline;">resumé</a> | <a href="http://dondentonactor.com/videos/" target="_blank" style="font-weight: normal;text-decoration: underline;">videos</a> | <a href="http://dondentonactor.com/" target="_blank" style="font-weight: normal;text-decoration: underline;">website</a>&nbsp;
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" width="270" style="border-collapse: collapse;">
                            <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: left;">
                              <em>"Don Denton carries an <strong>easygoing charm</strong> and occasional smirky humor."</em>
                              <br>
                              <div style="text-align:right;">David Burke - <a href="http://qctimes.com/entertainment/arts-and-theatre/theatre/circa-presents-fast-paced-colorful-joseph/article_05777d0e-0517-11df-9caa-001cc4c002e0.html" style="color: #707070;">Quad City Times</a>
                              </div>
                              <br>
                            </div>
                            <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: left;">
                              <em>"Don Denton's Ichabod, the bookwormish new man in town, is <strong>sweetly sung</strong> in a startling high tenor."</em>
                              <br>
                              <div style="text-align:right;">William Panek - <a href="http://chicago.broadwayworld.com/article/Filaments-THE-LEGEND-OF-SLEEPY-HOLLOW-Let-Them-Tell-You-a-Story-20091023#" style="color: #707070;">Broadway World Chicago</a>
                              </div>

                              <br>
                            </div>
                            <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: left;">
                              <em>"Don Denton projects a <strong>strong, clear voice</strong> and a beguiling innocence in his role."</em>
                              <br>
                              <div style="text-align:right;">Jonathan Turner - <a href="http://www.qconline.com/archives/qco/display.php?id=476215" style="color: #707070;">Quad Cities Online</a>
                              </div>

                              <br>
                            </div>
                          </td>
                          <td valign="top" width="270" style="border-collapse: collapse;">
                            <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: left;">
                              <em>Mr. Denton is a fierce, determined, passionate hero, and his exhilarating, sympathetic portrayal intimately connects us to the sweeping narrative […] With his very strong, piercing high register, the expressive, heart-wrenching Mr. Denton shines in numbers like "Who Am I," "One Day More" and the prayerful, angelic "Bring Him Home."</em>
                              <br>
                              <div style="text-align:right;">Jonathan Turner - <a href="http://www.qconline.com/life/breathtaking-les-miz-thrills-at-circa/article_41a4a3bf-1c4b-5468-a65d-150fa4d56c55.html" style="color: #707070;">Quad Cities Online</a>
                              </div>
                              <br>
                            </div>
                            <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: left;">
                              <em>"Don Denton plays Joseph and delivers a fantastic performance with <strong>unwavering vocals</strong>... [Denton] inspires us with his heartfelt delivery."</em>
                              <br>
                              <div style="text-align:right;">Jami R. Smith - <a href="http://www.clintonherald.com/news/lifestyles/circa-s-joseph-is-a-dream-come-true/article_c82e0d52-b290-504a-ae4a-21b98051626d.html" style="color: #707070;">Clinton Herald</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>
                      <!-- // End Module: Standard Footer \\ -->

                    </td>
                  </tr>
                </table>
                <!-- // End Template Footer \\ -->
              </td>
            </tr>
          </table>
          <br>
        </td>
      </tr>
    </table>
  &nbsp;</div>

</div>
</section>

<section>  
<header class="section-header">
  <h1>Try it yourself!</h1>
</header>

<div class="examples group">
  
  {{partial "explainers/instructions"}}

  <div id="try-it" class="group">
    <div class="the-form-wrapper">
      <div id="the-form">
        <label for="header" class="text-label">Before Image:</label>
        {{input type="text" name="header" value=header}}
        
        <div class="button-value-group">
          <div class="button-value">
            <label for="video-text" class="text-label">Video Button Text:</label>
            {{input type="text" name="video-text" value=vButtonText}}
          </div>
          <div class="button-value">
            <label for="video-link" class="text-label">Video Button Link:</label>
            {{input type="text" name="video-link" value=vButtonLink}}
          </div>
        </div>

        <label class="text-label">Choose an image below</label>
        {{flickr-pickr galleryId="72157623797026921" limit="19,0,8,33,31" desiredWidth="75" chosenId=chosenId}}
        
        <label class="text-label">Body: (Edit the text below using 
          {{#view "info-pop"}}<span class="info-pop-trigger">Markdown</span>.)
            <span class="info-pop-info">
              {{partial "explainers/markdown"}}
            </span>
          {{/view}}
        </label>
        
        {{textarea value=body}}
      </div>
    </div>
    




    <div id="the-email">
      <table><tr><td class="background">
      <div class="pre-header">
        &nbsp;
      </div>
      <div class="main-content">
        <h1>
          {{header}}
        </h1>
        {{flickr-image imageId=chosenId desiredWidth="400"}}

        <h2>{{header2}}</h2>

        <p class="center">
          {{#if vButton}}
            <a class="button" {{bind-attr href=vButtonLink}} target="_blank">{{vButtonText}}</a>
          {{/if}}
        </p>

        {{markdown-section content=body}}
        <div class="content">
          <p>Sincerely,<br> Arthur <span class="sig">"The Fonz"</span> Fonzarelli</p>
        </div>
      </div>
      <div class="catch">
        &nbsp;
      </div>
      </td></tr></table>
    </div>
  </div>
</div>

</section>

<section>
  <header class="section-header">
    <h1>How does it work?</h1>  
  </header>

  <h2>We'll create a great design</h2>

  <p class="explain">Together, we will come up with a <strong>simple</strong>, yet <strong>elegant</strong> design for your business emails. It can match the design of your current website, or it can stand on its own. Whichever you prefer.</p>

  <h2>I'll make an editable template for you</h2>

  <p class="explain">Once the design is complete, I'll make all the necessary pieces editable, so you can make all the changes you need every time you want to write an email.</p>

  <p class="explain">The photos are pulled in from Flickr.com, so you can change the headshots whenever you want and your email template will automatically update for you. (Headshots are expensive enough on their own, you shouldn't have to pay to have them changed in your email!)</p>

  <h2>Use your personalized section of the site</h2>

  <p class="explain">Simply navigate to your personal area of this site. It'll be something like http://email.happycollision.com/the-fonz-life-coach.</p>

  <p class="explain">Fill out the form I've made especially for you, then copy/paste the results into your favorite email application. We'll make sure along the way that it works in your email client. (If you happen to use gmail's web interface, you're in like Flynn.)</p>

</section>

<section>
  <header class="section-header">
    <h1>Pricing</h1>  
  </header>

  <div class="pricing">
    <div class="cost design-fee">
      <h3>Initial Design Fee</h3>
      <div class="price">$49<span class="super">*</span></div>
    </div>
    <div class="plus">
      +
    </div>
    <div class="cost yearly-subscription">
      <h3>Yearly Subscription</h3>
      <div class="price">$19</div>
    </div>
  </div>

  <div class="caveat">* If your design will require special enhancements, the price will increase. But you'll get a quote before we start.</div>

</section>

<section>
  <div class="wufoo" id="wufoo-zeabs3w0iaz1r3">
  <a href="https://happycollision.wufoo.com/forms/zeabs3w0iaz1r3">Contact me</a> for answers to questions or to get signed up.
  </div>
  <script type="text/javascript">var zeabs3w0iaz1r3;(function(d, t) {
  var s = d.createElement(t), options = {
  'userName':'happycollision',
  'formHash':'zeabs3w0iaz1r3',
  'autoResize':true,
  'height':'517',
  'async':true,
  'host':'wufoo.com',
  'header':'show',
  'ssl':true};
  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
  s.onload = s.onreadystatechange = function() {
  var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
  try { zeabs3w0iaz1r3 = new WufooForm();zeabs3w0iaz1r3.initialize(options);zeabs3w0iaz1r3.display(); } catch (e) {}};
  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
  })(document, 'script');</script>
</section>
